@font-face {
  font-family: 'Bern Sans';
  src: url('Bern-sans.otf');
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #1F1F1F;
}

#canvas-wrap {
  position: relative;
  z-index: 3;
}

.players {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.player-one-score h2{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
}

.player-two-score h2{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
}

h2 {
  font-size: 360px;
  margin: 0;
  font-family: 'Bern Sans';
}
.ball-button {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 47%;
  top: 47%;
}

.winner, .start {
  position: fixed;
  width: 100%;
  top: 0;
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 10;
}

.winner p {
  font-size: 30px;
}
.start p {
  width: 80%;
  font-size: 30px;
  text-align: center;
}
.show {
  display: flex;
}
