@font-face {
  font-family: 'Bern Sans';
  src: url(../Bern-sans.otf);
}

body {
  margin: 0;
  overflow: hidden;
}

#canvas-wrap {
  position:relative;
}

.overlay {
  width: 100%;
  height: 100vh;
  position:absolute;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-one-score h2{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
}

.player-two-score h2{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
}

h2 {
  font-size: 360px;
  margin: 0;
  font-family: 'Bern Sans';
}

.seperator {
  left: 50%;
  border: 2px solid #000000;
  position: absolute;
  height: 100vh;
}

/*.score-board {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin: 1em 0;
}
.score-board p {
  margin: 0;
  line-height: 2;
}*/
.winner, .start {
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

/*canvas {
  background-color: #1F1F1F;
}*/

.winner p {
  font-size: 30px;
}
.start p {
  width: 80%;
  font-size: 30px;
  text-align: center;
}
.show {
  display: flex;
}
